{% extends 'base.html' %}
{% block content %}
<!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">Forgot Password</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-gray-800" href="#">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                        Forgot Password
                    </li>
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>

 <style>
     .login_input{

     }
 </style>
    <!-- LOGIN
    ================================================== -->
    <div class="container mb-11">
        <div class="row gx-0">
            <div class="col-md-7 col-xl-4 mx-auto">
                <!-- Login -->
                <h3 class="mb-6">Set a New Password</h3>
                {% include 'partials/messages.html' %}
                <!-- Form Login -->
                     <form method="POST">
                    {% csrf_token %}
                     <div class="form-group mb-5">
                        <label for="id_new_password1">New Password</label>
                        <input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="**********" required autofocus>
                        {% for error in form.new_password1.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-5">
                        <label for="id_new_password2">Confirm New Password</label>
                        <input type="password" name="new_password2" id="id_new_password2" class="form-control" placeholder="**********" required>
                        {% for error in form.new_password2.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>



                    <!-- Submit -->
                    <button class="btn btn-block btn-primary" type="submit">
                        Save Password
                    </button>
                </form>





            </div>
        </div>
    </div>
{% endblock %}